name = "xivdyetools-oauth"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

routes = [
  { pattern = "auth.xivdyetools.app", custom_domain = true },
  { pattern = "auth.xivdyetools.projectgalatine.com", custom_domain = true }
]

[dev]
port = 8788
local_protocol = "http"

[vars]
ENVIRONMENT = "production"
DISCORD_CLIENT_ID = "1447108133020369048"
XIVAUTH_CLIENT_ID = "phx-sXZeb_Ran6GAdcnsnjvdtOeNM4df0BZyF3Jyti0"
FRONTEND_URL = "https://xivdyetools.app"
WORKER_URL = "https://auth.xivdyetools.app"
JWT_EXPIRY = "3600"

[env.development]
name = "xivdyetools-oauth-dev"
vars = { ENVIRONMENT = "development", DISCORD_CLIENT_ID = "1447108133020369048", XIVAUTH_CLIENT_ID = "phx-sXZeb_Ran6GAdcnsnjvdtOeNM4df0BZyF3Jyti0", FRONTEND_URL = "http://localhost:5173", WORKER_URL = "http://localhost:8788", JWT_EXPIRY = "3600" }

[env.preview]
name = "xivdyetools-oauth-preview"
routes = [
  { pattern = "auth-preview.xivdyetools.app", custom_domain = true }
]
[env.preview.vars]
ENVIRONMENT = "preview"
DISCORD_CLIENT_ID = "1447108133020369048"
XIVAUTH_CLIENT_ID = "phx-sXZeb_Ran6GAdcnsnjvdtOeNM4df0BZyF3Jyti0"
FRONTEND_URL = "https://v4-ui-migration.xiv-colorexplorer.pages.dev"
WORKER_URL = "https://auth-preview.xivdyetools.app"
JWT_EXPIRY = "3600"

[[env.preview.kv_namespaces]]
binding = "TOKEN_BLACKLIST"
id = "0d6f3be3b4704e91a83e6387b9769e45"

[[env.preview.d1_databases]]
binding = "DB"
database_name = "xivdyetools-users"
database_id = "6e97b759-70dd-49a8-a93c-0541c7fe6c67"

[[kv_namespaces]]
binding = "TOKEN_BLACKLIST"
id = "0d6f3be3b4704e91a83e6387b9769e45"

[[env.development.kv_namespaces]]
binding = "TOKEN_BLACKLIST"
id = "891bbbe834ba4055a06b672b589094be"
preview_id = "3d9eafa9aac64f18a1e9c56b228b4b68"

[[d1_databases]]
binding = "DB"
database_name = "xivdyetools-users"
database_id = "6e97b759-70dd-49a8-a93c-0541c7fe6c67"

[[env.development.d1_databases]]
binding = "DB"
database_name = "xivdyetools-users-dev"
database_id = "TODO_RUN_WRANGLER_D1_CREATE"

# Secrets: DISCORD_CLIENT_SECRET, JWT_SECRET, XIVAUTH_CLIENT_SECRET
